@media print {
  .print-none {
    display: none !important;
  }
  .print:last-child {
    page-break-after: auto;
  }

  .dataview-excel {
    width: 100%;
    margin: auto;
  }

  .dataview-table {
    & thead {
      box-shadow: unset;
      background-color: unset;
    }

    & td,
    & th {
      background-color: unset;
      @apply border;
      @apply border-gray-400;
    }

    & tr {
      background-color: unset;
    }
  }
}
